{% load static %}<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home MALÊ home</title>
    <link rel="stylesheet" href="{% static 'home/css/sienna.css' %}">
</head>
<body>
<main>
        <div class="card">
            <h2>BEM VINDO 👋</h2>
        <p>Essa é a página inicial do App1.</p>
        </div>
</main>
</body>
</html>

